<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Subtração</title>
	<link rel="stylesheet" type="text/css" href="../../estilo/static.css">
	<script type="text/javascript" src="../../scripts/script.js"></script>
</head>
<body>
	<h1>Subtração</h1>
	<center>
		<table>
			<tr>
				<td><div class="retanguloBranco" ondrop="soltar(event)" ondragover="permitirSoltar(event)"></div></td>
				<td><h1>-</h1></td>
				<td><div class="retanguloBranco" ondrop="soltar(event)" ondragover="permitirSoltar(event)"></div></td>
				<td><h1>=</h1></td>
				<td><div class="retanguloBranco" ondrop="soltar(event)" ondragover="permitirSoltar(event)"></div></td>
			</tr>
		</table>
	</center>
	<center><table>
		<tr>
			<td><div class="retanguloNumerais"><img src="../../imagens/0.png" width="100%" draggable="True" id="r1" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloNumerais"><img src="../../imagens/1.jpg" width="100%" draggable="True" id="r2" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloNumerais"><img src="../../imagens/2.jpg" width="100%" draggable="True" id="r3" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloNumerais"><img src="../../imagens/3.jpg" width="100%" draggable="True" id="r4" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloNumerais"><img src="../../imagens/4.png" width="100%" draggable="True" id="r5" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloNumerais"><img src="../../imagens/5.jpg" width="100%" draggable="True" id="r6" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloNumerais"><img src="../../imagens/6.jpg" width="100%" draggable="True" id="r7" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloNumerais"><img src="../../imagens/7.jpg" width="100%" draggable="True" id="r8" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloNumerais"><img src="../../imagens/8.jpg" width="100%" draggable="True" id="9" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloNumerais"><img src="../../imagens/9.jpg" width="100%" draggable="True" id="r10" ondragstart="arrastar(event)"></div></td>
		</tr>
	</table></center>

</body>
</html>