<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sílabas</title>
	<link rel="stylesheet" type="text/css" href="../estilo/static.css">
	<script type="text/javascript" src="../scripts/script.js"></script>
</head>
<body>
	<h2>Sílabas</h2>
	<center>
		<table>
			<tr>
				<td><div class="retanguloBranco" ondrop="soltar(event)" ondragover="permitirSoltar(event)"></div></td>
				<td><div class="retanguloBranco" ondrop="soltar(event)" ondragover="permitirSoltar(event)"></div></td>
			</tr>
		</table>
	</center>
	<center><table>
		<!-- <tr>
			<td><div class="retanguloBranco" ondrop="soltar(event)" ondragover="permitirSoltar(event)"></div></td>
		</tr> -->
		<td><div class="retanguloAlfabeto"><img src="../imagens/a.jpg" width="80%" draggable="True" id="r1" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/b.jpg" width="80%" draggable="True" id="r2" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/c.jpg" width="80%" draggable="True" id="r3" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/d.jpg" width="80%" draggable="True" id="r4" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/e.jpg" width="80%" draggable="True" id="r5" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/f.jpg" width="80%" draggable="True" id="r6" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/g.jpg" width="80%" draggable="True" id="r7" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/h.jpg" width="80%" draggable="True" id="r8" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/i.jpg" width="80%" draggable="True" id="9" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/j.jpg" width="80%" draggable="True" id="r10" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/k.jpg" width="80%" draggable="True" id="r11" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/l.jpg" width="80%" draggable="True" id="r12" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/m.jpg" width="80%" draggable="True" id="r13" ondragstart="arrastar(event)"></div></td>
		</tr>
		<tr>
			<td><div class="retanguloAlfabeto"><img src="../imagens/n.jpg" width="80%" draggable="True" id="r14" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/o.jpg" width="80%" draggable="True" id="r15" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/p.jpg" width="80%" draggable="True" id="r16" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/q.jpg" width="80%" draggable="True" id="r17" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/r.jpg" width="80%" draggable="True" id="r18" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/s.jpg" width="80%" draggable="True" id="r19" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/t.jpg" width="80%" draggable="True" id="r20" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/u.jpg" width="80%" draggable="True" id="r21" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/v.jpg" width="80%" draggable="True" id="r22" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/w.jpg" width="80%" draggable="True" id="r23" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/x.jpg" width="80%" draggable="True" id="r24" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/y.jpg" width="80%" draggable="True" id="r25" ondragstart="arrastar(event)"></div></td>
			<td><div class="retanguloAlfabeto"><img src="../imagens/z.jpg" width="80%" draggable="True" id="r26" ondragstart="arrastar(event)"></div></td>
		</tr>
	</table></center>

</body>
</html>